.footer {
  background-color: black;
  color: white;
  padding: 1rem;
  border-bottom: 20px solid #39b54a;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.footer-row:last-child {
  margin-bottom: 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  font-size: 14px;
}

.right a {
  color: white;
  text-decoration: none;
}

.right a:hover {
  text-decoration: underline;
  color: #39b54a;
}